{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center">
<div class="col-md-6">

<div class="card shadow">
<div class="card-header bg-danger text-white text-center">
<h4>Reset Password</h4>
</div>

<div class="card-body">

<form method="POST">

<div class="mb-3">
<label>Email</label>
<input type="email" name="email"
class="form-control" required>
</div>

<div class="mb-3">
<label>Security Question</label>
<select name="security_question" class="form-control" required>
<option value="">Select Question</option>
                            <option value="What is your pet's name?">What is your pet's name?</option>
                            <option value="What is your mother's maiden name?">What is your mother's maiden name?</option>
                            <option value="What was your first car?">What was your first car?</option>
                            <option value="What city were you born in?">What city were you born in?</option>
</select>
</div>

<div class="mb-3">
<label>Your Answer</label>
<input type="text" name="security_answer"
class="form-control" required>
</div>

<div class="mb-3">
<label>New Password</label>
<input type="password" name="new_password"
class="form-control" required>
</div>

<button type="submit" class="btn btn-danger w-100">
Reset Password
</button>

</form>

</div>
</div>

</div>
</div>

{% endblock %}